<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
  </div>
 
<div class="category-container">  
<%= f.association :categories, as: :check_boxes, collection: Category.order('sort_id ASC'), :include_blank => false, :label_method => lambda { |cat|
if cat.parent_id == 0 
  "<span class='category-primary'>#{cat.name}</span>".html_safe 
else
  "<span class='category-secondary'>#{cat.name}</span>".html_safe 
end }%>


</div>
  <%= f.button :submit , :class => "btn btn-success"%>
<% end %>
