<%= simple_form_for(@user, :url => manage_path, :method => :patch) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
  </div>

<div class="form-inputs">
    <%= f.input :password , required: false%>
  </div>


<%= f.association :groups , as: :check_boxes %>
  


  <div class="form-submit">
    <%= f.button :submit , :class => "btn btn-success"%>
  </div>
<% end %>
