<h1>News</h1>
<table class="table table-striped table-bordered table-hover" width="744"> 
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= news.title %></td>
        <td><%= news.content %></td>
        <td><%= news.updated %></td>
        <td><%= link_to 'Show', news, :class => "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_news_path(news) , :class => "btn btn-info" %></td>
        <td><%= link_to 'Delete', news, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New News', new_news_path, :class => "btn btn-success"  %>
<br><br>
