<h1>Users</h1>
<table class="table table-striped table-bordered table-hover" width="744"> 
  <thead>
    <tr>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>    
  <tr>
    <td><%= user.email %></td>
      <% if user_signed_in? %>
      <td><%= link_to 'Edit', edit_manage_path(user) , :class => "btn btn-info" %>&nbsp;
      <%= link_to 'Delete', manage_path(user), method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger" %>
      </td>
      <% end %>
    </tr>
  <% end %>
</table>
<br>
<% if user_signed_in? %>
<%= link_to 'Add User', new_manage_path, :class => "btn btn-success"  %>
<% end %>
