

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @news.content %>
</p>

<p>
  <strong>Updated:</strong>
  <%= @news.updated %>
</p>

<%= link_to 'Edit', edit_news_path(@news) , :class => "btn btn-success"%> |
<%= link_to 'Back', news_index_path %>
