<%= simple_form_for(@news) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
  <%= f.input :title, label: 'Title' %>
  <%= f.input :tags, label: 'Tags',hint: 'Single words seperated by spaces only' %>
  <%= f.text_area :content, :class => "tinymce", :rows => 40, :cols => 120 %>
  <%= f.input :updated %>
  </div>
  <div class="form-submit">
    <%= f.button :submit , :class => "btn btn-success"%>
  </div>
<% end %>
<%= tinymce %>