<h3>Welcome to the ELI Client Portal</h3>
<h5>Recent News</h5>


<table width="100%" border="0">
   <% @news.each do |article| %>    
    <tr>
    <td><span class='news-title'><%= article.title %></span></td>
  </tr>
    <tr>
    <td><span class='news_date'><%= article.updated_at.strftime('%B %e at %l:%M %p') %></span></td>
  </tr> 
 
  <tr>
    <td><%= article.content.html_safe %></td>
  </tr>
 <tr>
    <td><%= link_to 'Read More', article %></td>
  </tr>
<% if user_signed_in? %>
<% if  current_user.has_role? :admin %>
<tr>
<td><%= link_to 'Edit', edit_news_path(article) , :class => "btn btn-info" %>&nbsp;<%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger" %>
</td>
</tr>
<% end %>
<% end %>
  <tr class='news-seperator'>
    <td>&nbsp;</td>
  </tr>
  <% end %>
</table>
<br>
<% if user_signed_in? %>
  <% if  current_user.has_role? :admin %>
<%= link_to 'Add News', new_news_path, :class => "btn btn-success"  %>
  <% end %>
<% end %>
