<%= simple_form_for @document do |f| %>
  <%= f.error_notification %>
  <%= f.input :title, label: 'Title' %>
  <%= f.input :tags, label: 'Tags', hint: 'Single words seperated by spaces only' %>
  <%= f.text_area :content, :class => "tinymce", :rows => 40, :cols => 120 %>
  
<div class="category-container">  
<%= f.association :categories, as: :check_boxes,  collection: Category.order('sort_id ASC'), :include_blank => false, :class => "category-labels", :label_method => lambda { |cat|

if cat.parent_id == 0 
  "<span class='category-primary'>#{cat.name}</span>".html_safe 
else
  "<span class='category-secondary'>#{cat.name}</span>".html_safe 
end }%>
</div>
<%= f.input :vlink, label: 'vLink', hint: 'Leave blank if adding files.' %>

<div class="file-container">
  <%= f.file_field :file_name %>
</div>
  <%= f.button :submit , :class => "btn btn-success" %>
<% end %>
<%= tinymce %>