// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.category-container{
  padding: 5px;
}
.file-container{
  padding-top: 25px;
  padding-bottom: 25px;
}

