// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.news_date{
  font-size: 14px;
  font-weight: bold;
}
#search-container{
  width: 300px;
  padding-left: 100px;
}
.form-group {
  float: left;
}