<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
  </div>
  <% if params[:parent_id]  %>
  <div class="form-inputs">
    <%= f.input  :parent_id,  :as => :hidden, input_html: {value: params[:parent_id] } %>
  </div>
  <% end %>
  <%= f.button :submit , :class => "btn btn-success"%>
  <% end %>
