<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "E L I Portal Admin" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "http://whitesunrisetesting.com/eli/remote.css", :media => "all" %> 
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

                                                                                                                                                                                                                                      
  </head>
  <body class="logged_in_<%= user_signed_in? %>" >

    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to(image_tag("logo.png", :alt => "logo", :title => "Home", class: "logo"), "/") %>

          
          <div class="container-fluid nav-collapse">
            <ul class="nav">
              
              <li><%= link_to "Content", "/documents"  %></li>
               <% if user_signed_in?  %>
                 <% if  current_user.has_role? :admin %>
              <li><%= link_to "Categories", "/categories"  %></li>
              <li><%= link_to "Users", "/manage"  %></li>
              <li><%= link_to "Groups", "/groups"  %></li>
                <% end %>
               <% end %>
              <li>
                <div id="search-container">
                  <form class="navbar-form navbar-left" role="search"  >
                    <div class="form-group">
                       <input type="text" class="form-control" placeholder="Search" 
                          name="search_term">
                    </div>
                    <div class="search_box">
                      <button type="submit" class="btn btn-default fa-cube ">
                        <span class="fa fa-search"></span>
                      </button>
                    </div>
                  </form>
                </div>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
      
        <div class="span8">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
          <div class="span4">
          <div class="well sidebar-nav">
            <ul class="nav nav-list nav-login" >
            <% if user_signed_in? %>
              <li>Hello <%= current_user.email %><% if  current_user.has_role? :admin %>*<% end %></li>
              <%= link_to "Change Password", edit_user_registration_path %>
              <li><%= link_to "sign out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "login", user_session_path  %>
            <% end %>  
            </ul>
            <ul class="nav nav-list nav-categories">
               <% if user_signed_in? %>

              <li class="nav-header">Recent Content</li>
              <% end %>              
              <% #@c = Category.newest %>
              <%  if user_signed_in? 
                      if current_user.has_role? :admin
                        Rails.logger.debug "\n\n\n *** I am the adin ***\n\n\n"
                        cat_query = "select public.categories.id,public.categories.name,
                                    public.categories.  parent_id,count(*) as count
                                    FROM public.documents INNER JOIN public.categorizations ON public.documents.id = public.categorizations.document_id
                                    INNER JOIN public.categories ON public.categories.id = public.categorizations.category_id
                                    INNER JOIN public.visibilities ON public.categories.id = public.visibilities.category_id
                                    INNER JOIN public.groups ON public.groups.id = public.visibilities.group_id
                                    group by public.categories.id,public.categories.name,
                                      public.categories.parent_id"
                        @categories = Document.all.find_by_sql(cat_query) 
                      else
                        Rails.logger.debug "\n\n\n *** just george ***\n\n\n"
                        cat_query = "SELECT distinct public.categories.*
                                    FROM public.documents INNER JOIN public.categorizations ON public.documents.id = public.categorizations.document_id
                                    INNER JOIN public.categories ON public.categories.id = public.categorizations.category_id
                                    INNER JOIN public.visibilities ON public.categories.id = public.visibilities.category_id
                                    INNER JOIN public.groups ON public.groups.id = public.visibilities.group_id 
                                    where public.groups.id in (select distinct public.authorizes.group_id from public.authorizes where authorizes.user_id = #{current_user.id})"
                        cat_query = "select public.categories.id,public.categories.name,
                                    public.categories.  parent_id,count(*) as count
                                    FROM public.documents INNER JOIN public.categorizations ON public.documents.id = public.categorizations.document_id
                                    INNER JOIN public.categories ON public.categories.id = public.categorizations.category_id
                                    INNER JOIN public.visibilities ON public.categories.id = public.visibilities.category_id
                                    INNER JOIN public.groups ON public.groups.id = public.visibilities.group_id
                                    where
                                    public.groups.id in (select distinct public.authorizes.group_id from public.authorizes where authorizes.user_id = #{current_user.id})
                                    group by public.categories.id,public.categories.name,
                                      public.categories.parent_id"
                        @categories = Document.all.find_by_sql(cat_query) 
                      end
                  @categories.each do |category|
                   %>
               <% if category.parent_id == 0 %>    
              <li><%= link_to "#{category.name} <span class='cat-counts'>#{category.count}</span>".html_safe, "/documents/cat/#{category.id}"  %></li>
              <% end %>
              <% end %>
              
           <%end %>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>&copy; 2014 ELI Corporation all rights reserved.</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
